# Node.js
node_modules/
build/
dist/
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
venv/
env/

# VSCode
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
nohup.out

# MongoDB dump
*.bson
*.gz

# Jupyter Notebooks
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage

# Misc
*.swp
*.swo

# Ignore model and pickle files
*.pkl
*.pickle

# Ignore PDF and large docs
*.pdf

# Ignore test and dataset files
*.json
!package.json
!frontend/package.json
!backend/requirements.txt 